body {
  font-family: Poppins;
  background-image: url("img/about-bg.png");
}

.navbar-menu {
  transition: left 0.3s ease; /* Menambahkan transisi pada perubahan posisi */
}

.about-img {
  background-image: url("img/blob-haikei-2.png");
  background-repeat: no-repeat;
  background-size: 1000px 700px;
  background-position: top;
}

.active {
  left: 25%; /* Memindahkan sidebar ke dalam layar */
}

.hidden-sidebar {
  left: -100%; /* Memindahkan sidebar ke luar layar */
}

.navbar-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s;
}

.navbar-menu a:hover::after {
  width: 100%;
}

/* Media query ---------------- */
@media only screen and (max-width: 1280px) {
  .about-img {
    background-size: 800px 500px;
  }
}
